@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Poppins", serif;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

h1 {
  font-weight: 800;
  margin: 1rem 0 0;
}

ul {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /* Tre colonne */
  gap: 10px;
  /* Spazio tra gli elementi della griglia */
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin: 0.25rem;
  flex-flow: column;
  border-radius: 0.2rem;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}

ul li:hover {
  background-color: antiquewhite;
}

ul li img {
  transition: opacity 1s ease;
  opacity: 0;
  position: absolute;
  /* Posiziona l'immagine in modo assoluto all'interno del li */
  top: 5px;
  /* Distanza dall'alto */
  right: 5px;
  /* Distanza dal lato destro */
  cursor: pointer;
}

ul li:hover img {
  opacity: 1;
  /* Mostra l'immagine quando si passa sopra l'elemento */
}

ul li time {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

ul .today {
  background: #ffffff70;
}

ul .today time {
  font-weight: 800;
}

.month-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

#cancel-book-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modify_book_time,
#modify_date {
  position: relative;
  /* Necessario per posizionare correttamente before e after */
  border-radius: 50px;
  /* Angoli arrotondati */
  border: none;
  /* Nessun bordo */
  padding: 20px;
  /* Aggiungi un po' di spazio intorno al contenuto del pulsante */
}

.clicked {
  animation: clickAnimation 0.2s ease-out;
}

#start_book,
#end_book {
  position: relative;
  /* Necessario per posizionare correttamente before e after */
  border-radius: 50px;
  /* Angoli arrotondati */
  border: none;
  /* Nessun bordo */
  padding: 10px;
  /* Aggiungi un po' di spazio intorno al contenuto del pulsante */
}

#booking_container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  width: 100%;
}

#start_close_day,
#end_close_day,
#calendar-hour-modifier {
  position: relative;
  /* Necessario per posizionare correttamente before e after */
  border-radius: 50px;
  /* Angoli arrotondati */
  border: none;
  /* Nessun bordo */
  padding: 10px;
  /* Aggiungi un po' di spazio intorno al contenuto del pulsante */
}

#time {
  display: flex;
  align-items: center;
  gap: 20px;
}

#date {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width:768px) {

  #booking_container {
    display: flex;
    gap: 50px;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  #time {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  #date {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  .month-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
  }

}